<table class="table text-white">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Professor</th>
            <th scope="col">Disciplina</th>
            <th scope="col">Nivel de satisfação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Nivaldo</td>
            <td>Banco de Dados</td>
            <td>10.0</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Kátia</td>
            <td>Desenvolvimento Web</td>
            <td>10.0</td>
        </tr>
    </tbody>
</table>