
<table class="table text-white">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Alunos</th>
            <th scope="col">Nota</th>
            <th scope="col">Situação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Marcelo</td>
            <td>9.0</td>
            <td colspan="2">Aprovado</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Juliano</td>
            <td>0.5</td>
            <td colspan="2">Reprovado</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Bernardo</td>
            <td>4.5</td>
            <td colspan="2">Aprovado</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Levi</td>
            <td>7.5</td>
            <td colspan="2">Aprovado</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Enzo</td>
            <td>5.5</td>
            <td colspan="2">Reprovado</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Raphael</td>
            <td>6.5</td>
            <td colspan="2">Aprovado</td>
        </tr>
    </tbody>
</table>