
@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1,p{
        color: #000000
    }
</style>
<div class="text-center">
    <h1 class="display-4 ">|EU QUERO UM TRABALHO|</h1>
    <p>Quer um emprego ? <a href="https://br.linkedin.com/">Clique aqui</a>.</p>
</div>
<div class="text-center">
    <h2>
        Sem ideias criativas para colocar aqui!

    </h2>
</div>
<div class="text-center">
    <img src="imagem/teste.jpg" class="img-fluid " alt="...">
</div>

