
@{
    ViewData["Title"] = "Home Page";
}
<style>

</style>
<div class="text-center text-white">
    <h1 class="display-4">|EU QUERO UM TRABALHO|</h1>
    <p>Quer um emprego ? <a href="https://br.linkedin.com/">Clique aqui</a>.</p>
</div>
<div>
    <h2>
        
    </h2>
</div>
